//////////////////////////////
// D3nyc
//////////////////////////////
@import "compass";
@import "vars";
@import "zen";
@import "layout";
body{background-color: $baseColor;
  &.about{background-color: $baseColor;}
  &a{
    &:hover{color:pink;}
  }
}

#box-shadow-custom {
  font-size:18px;
}


