body {
  position: relative;
  display: block;
  background-color: gray;
  margin: 200px 0px;
}
  .component-container {
    background-color: #ffffff;
    display: block;
    width: 80vw;
    position: relative;
    color: black;
    padding: 15px;
    margin: 0px auto;
    overflow: hidden;
  }

.pane-show-schedule-panel-pane-1 {
  header {
    display: block;
    position: absolute;
    background:white;
    z-index:100;
    border-bottom: #ccc solid 2px;
    width:100%;
    top:0px;
    .pane-title {
      margin-bottom:0px;
    }
  }
  .days_of_week_menu {
    display: none;
    &.desktop_view_only {
      display: block;

      ul {
        border-top: #ccc solid 2px;
        border-bottom: #ccc solid 2px;
        position: relative;
        display: block;
        padding-left: 0px;
        width: 100vw;
        text-align: center;
        margin: 0px auto;
        li {
          float: left;
          display: inline-block;
          a {
            text-transform: capitalize;
            display: block;
            width: 100px;
            line-height: 2;
            &:hover {

            }
          }
        }
      }
    }
  }
  .msnbc-all-schedule-display {
    padding-top:100px;
    display: block;
    clear: both;
    .view-grouping-header {
      text-transform: capitalize;
      line-height: 2;
      border-bottom: #ccc solid 2px;
    }
    .view-grouping-content {
      display: block;
      li {
        border-bottom: #ccc solid 2px;
        img.show_icon {
          display: none;
          width: 150px;
          max-width: 150px;
          overflow: hidden;
          float: left;
        }
        .copy {
          clear: right;
          .field-type-time-of-day {
            color: pink
          }
          .field-type-list-text {
            color: pink
          }
          h3 a {
            &:link {
              color: pink
            }
            &:hover {
              color: pink
            }
          }
          .field-type-text {
            color: pink
          }
        }
      }
    }
  }
  
}

